<html></html>
<head>
    <title>Student Search List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  
    <div class="container"><h1></h1></div>
<div class="container">
    <div class="card">
        <div class="card-header">
          <span><strong>Search Students </strong></span>- Use the search form to filter for students by : <em>first name, last name, teacher's name or current class.</em>
        </div>
        <div class="card-body">
 
    <form action="{% url 'students:student-search-result' %}" class="form-inline" method="POST">
        {% csrf_token %}
  
       <div class="form-group mx-sm-3 mb-2">
        <label for="" class="sr-only">search</label>
        <input name="searched" type="search" class="form-control" id="" placeholder="Search Students">
        </div>
        <button type="submit" class="btn btn-success btn-md mb-2">Search</button>
   </form>
   </div>



</div>
</div>

</body>

</html>