<!-- myapp/templates/create_task.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Payment for {{ student.name }}</title>
</head>
<body>
    <h1>Create Payment for Student: {{ student.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create Task</button>
    </form>
    <p><a href="{% url 'payments:student_payment_detail' student_id=student.USN %}">Back to Project Details</a></p>
</body>
</html>